/* CSS HEX */
/* --queen-blue: #48639cff;
--liberty: #4c4c9dff;
--maximum-purple: #712f79ff;
--antique-fuchsia: #976391ff;
--atomic-tangerine: #f7996eff; */

.App {
  /* text-align: center; */
}

.grid-container {
    background-color: #976391ff;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.red-mark {
  max-width: 50px;
  max-height: 50px;

  position: absolute;
  transform: translate(-50%, -70%);
}